# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android
# Flutter recreates the Gradle wrapper automatically on the first build,
# so these files are not committed.
android/.gradle/
android/captures/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json
